
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutBaru.cshtml";
}

<div class="container"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 border">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid culpa cum debitis dolor exercitationem incidunt maxime, molestias, mollitia obcaecati odit, quam quibusdam ut veritatis voluptatem? Dignissimos iusto minima, odit officia omnis ut vitae. Ab consequatur cumque deserunt, eum, hic ipsa, itaque libero modi natus quasi qui quia quod sit. Accusantium cumque deserunt doloremque fuga itaque magni, molestias pariatur quidem ut vel voluptatem voluptatibus. Adipisci blanditiis consectetur cumque delectus deleniti deserunt dolorem dolores eos, et ex illo illum in laboriosam laborum libero magnam necessitatibus nihil numquam odio perspiciatis porro praesentium quasi quod sequi similique sit sunt velit veritatis vitae voluptate!
        </div>
        <div class="col-md-6 border">
            <div class="row" style="height: 400px">
                <div class="col-12" style="height: 50%">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex facilis maxime quod ullam. Ab atque, consectetur doloribus esse inventore ipsa magnam, nam nesciunt officiis quia reiciendis tenetur velit? Accusamus aliquid amet cumque deserunt dolor error exercitationem inventore ipsum, iusto libero, nam nesciunt, non numquam porro quam reiciendis reprehenderit sed voluptatum!
                </div>
                <div class="col-12" style="height: 50%">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at commodi eaque eius eligendi et excepturi explicabo harum inventore ipsum itaque iure iusto labore maiores nobis numquam officiis perferendis placeat qui quia quidem quos sapiente sed tempore, temporibus totam vero voluptatem. Asperiores aspernatur, assumenda eius exercitationem fugiat quis sint voluptas?
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="btnContainer">
        <button id="btnColor" type="button" class="btn btn-secondary">Ganti Warna</button>
        <button id="btnText" type="button" class="btn btn-primary">Ganti Text</button>
        <button id="btnGanti" type="button" class="btn btn-primary">Ganti Background</button>
        @* <button type="button" class="btn btn-primary">DarkMode</button> *@
    </div>
</div>

